<!DOCTYPE html>
<!-- 使用Jinja2 Template配合flask套件進行template rendering-->
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EENS WINKYFAC3</title>
</head>

<body>
    <div class="container">
        <h1>Please login</h1>
        <br>
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{
            request.form.username }}">
            <input type="password" placeholder="Password" name="password" value="{{
            request.form.password }}">
            <button class="btn btn-default" type="submit">Login</button>
        </form>
        <button type="button" onclick="location.href='/register'">Register new account</button>
        <!-- 若登入時發生錯誤（輸入的使用者不存在或密碼錯誤），顯示錯誤訊息 -->
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
</body>

</html>