<!DOCTYPE html>
<!-- 使用Jinja2 Template配合flask套件進行template rendering-->
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EENS WINKYFAC3</title>
</head>

<body>
    <div class="container">
        {% if not success %}
        <h1>Please register</h1>
        <form action="" method="post">
            Username:
            <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"><br>
            Password:
            <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}"><br>
            Confirm Password:
            <input type="password" placeholder="Password" name="confirm_password" value="{{
                request.form.confirm_password }}"><br>
            <button class="btn btn-default" type="submit">Register</button>
        </form>
        {% endif %}
        <!-- 若註冊失敗（使用者已經存在或兩次密碼不同），顯示錯誤訊息 -->
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        {% if success %}
        <p>Your registration is successful!</p><br>
        {% endif %}
        <button type="button" onclick="location.href='/login'">Go back to login page</button>
    </div>
</body>

</html>